:host() {
    --dark-blue : #0b0d21;
    --light-white : #fafafa;
    --light-blue : #4f7df9;
    --light-pink : #e91e63;
    --dull-blue : #1d1e33;
    --size-16 : 16px;
    --size-14 : 14px;
    --size-12 : 12px;
}

.app {
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BmiAppBackground);
    background-size: cover;
}

.box {
    text-align: center;
    max-width: 23rem;
    margin: auto;
    border-radius: 38px;
    color: var(--light-white);
    background: var(--dark-blue);
    padding: var(--size-16);
}

h1 {
    font-size: 36px;
    padding: 10px 0px;
    font-weight: bold;
}

.info-wrapper {
    background: var(--dull-blue);
    padding: 16px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    font-size: var(--size-14);
    text-align: center;
}

h2 {
    font-size: 26px;
    color: var(--light-pink);
}

label {
    font-size: 20px;
    color: white;
}

input {
    color: var(--dull-blue);
    padding: 8px;
    font-size: var(--size-16);
}

.custom-button {
    font-size: var(--size-16);
    padding: var(--size-12);
    background: var(--light-pink);
    color: var(--light-white);
    border-color: var(--light-pink);
}

.result-value {
    color: var(--light-blue);
    font-size: 30px;
}