.banner {
    background: #fff;
    min-height: 300px;
    text-align: center;
    padding-top: 16px;;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.name {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.designation, .location{
    font-size: 24px;
    color: #243753;
}

.social-media-icon {
    height: 40px;
    width: 40px;
    margin: 16px 16px 16px 0px;
}

.totalViewsClass {
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1rem;
}

.icon-css {
    padding-top: .5rem;
    padding-bottom: .5rem;
}