.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 16px auto;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  h2{
    background: #16325c;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
}

.spinner-center {
  top: 50%;
}

.card lightning-icon {
  float: right;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.5rem;
}